<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Page 3
        //- commons:css 
        //- endinject
        //- page3:css 
        //- endinject
    body
        h1.comp3_h1 This is comp3 page. 
        include ../../components/comp2/comp2.pug 
        //- commons:js 
        //- endinject  
        //- page3:js 
        //- endinject