<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        //- commons:css 
        //- endinject
        //- page1:css 
        //- endinject
    body
        h1.comp1_h1 This is comp1 page.
        include ../../components/comp1/comp1.pug 
        //- commons:js 
        //- endinject        
        //- page1:js 
        //- endinjects